.sideone{
    background: url(https://bondbulls.com/assets/img/bondDetails/white_curve.svg) 0 0/cover;
    height: 600px;
    width: 40%;
    padding: 120px 40px 0 10px;
    margin-left: -2px;
    
    align-content: center!important;
    justify-content: between;
    display: block;
}

.sidetwo{
    background: url(https://bondbulls.com/assets/img/bondDetails/detailsbg.svg) 0 0/cover;
    height: 600px;
    width: 40%;
    padding: 120px 40px 0 10px;
}



.firstTitle{
    text-align: center;
    font-size: 24px;
    font-family: nunitoSansRegular!important;
    font-color: black;
    margin: 0;
   
   
}

.secondTitle{
    font-size: 16px;
    font-weight: bold;
    font-family: nunitoSansBold!important;
    color: #283d4a;
    margin: 10px 0;
    text-align: left!important;
    padding-left: .25rem!important;
    
}

.display{
    font-size: 14px;
    font-family: nunitoSansRegular!important;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;
    max-height: 120px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.maran{
    margin: -20px 0 10px!important;
    border-radius: 2px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}
.bs{
    font-size:14;
     font-family:NunitoSansRegular;
     padding: 1px 24px;
     align-content: right!important;
     
     
     
}